.header{
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.menu{
  display: flex;
  list-style: none;
}

.menu li{
  margin-left: 25px;
}